#first, #next, #prev, #last
{
    cursor: pointer;
}

header
{
    display: block;
    height: 130px;
}

#content
{
    display: block;
    height: 400px;
}

#board
{
    box-sizing:content-box;/*down - */
	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

#button_row
{
    display: block;
    height: 40px;
}
.gradient-button {
	
  color: black;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 22px;
  line-height: 25px;
  border-radius: 25px;
  font-family: Comic Sans MS;
   
 
  background-color: LightSkyBlue;
  color: black;
}


#next {
	 color: black;
  text-align: center;
   padding: 22px;
   position: relative;
    top: 60px;
	width: 100px;
	height: 100px;

  text-decoration: none;
  font-size: 22px;
  line-height: 25px;
  border-radius: 25px;
  font-family: Comic Sans MS;
   
 
  background-color: #00FFFF;
  color: black;
	
}