/*a.button {
   float: left;
   border: 1px solid green;
   border-top: 1px solid #000000;
   background: #3c6580;
   background: -webkit-gradient(linear, left top, left bottom, from(#8fd2ff), to(#3c6580));
   background: -webkit-linear-gradient(top, #8fd2ff, #3c6580);
   background: -moz-linear-gradient(top, #8fd2ff, #3c6580);
   background: -ms-linear-gradient(top, #8fd2ff, #3c6580);
   background: -o-linear-gradient(top, #8fd2ff, #3c6580);
   padding: 12.5px 25px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow:6px 7px 13px rgba(0, 0, 0, 1);
-webkit-box-shadow:6px 7px 13px rgba(0, 0, 0, 1);
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 19px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   */
   
   
   
   
   /* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #E0FFFF;
  padding: 20px 20px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 22px;
  line-height: 25px;
  border-radius: 25px;
  font-family: Comic Sans MS;
   
 
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #87CEFA;
  color: black;
  font-family: Comic Sans MS;
  
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
}

/* Style the active/current link*/
.header a.active {
  background-color: LightSkyBlue;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: left;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.back{
background-image: url(image.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
min-height: 130%;
min-width: 640px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
}


.gif{
padding-left: 23px;

height: 520px;
width: 462px;
}
